{% extends "auctions/layout.html" %}

{% block body %}
    {% if watchlist %}
        <h2>Watchlisted items:</h2>
    {% else %}
        <h2>Active Listings:</h2>
    {% endif %}
    {% for item in items %}
        <div class="items" onclick="location.href='{% url 'item_details' item.id %}';" style="cursor: pointer;">
            <div id="image">
                <img src="{{ item.image_url }}" alt="image">
            </div>
            <div id="details">
                <h5>{{ item.title }}</h5>
                <br>
                <b>Base Price: ${{ item.base_price }}</b>
                <br>
                Listed by: {{ item.owner }}
                <br><br>
                {{ item.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}